.kms-home {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kms-home__section {
  padding: 40px;
  background-color: #eee;
  text-align: center;
}

.kms-home__section-banner {
  padding: 0;
  background-color: none;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
